body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("background.jpg");
  z-index: -1;

}

@font-face {
  font-family:"mighty" ;
  src: url("mightype Script.otf") ;
}

#pictoun {
  width: 30% ;
  height: 30% ;
  top: 20px;
  z-index: 0;
  transition: all 1s ease;
  border-radius: 20%;
  opacity: 0.9;
}

#picto2 {
  width: 50% ;
  height: 50% ;
  top :300px;
  position: absolute;
  z-index: 1;
  transition: all 1.2s ease ;
  border-radius: 20% ;
  opacity: 0.9;
}
.transparent {
  width: 1286px;
  height: 720px;
  top: 0;
  left: 0;
  position: absolute;
  color: transparent;
  z-index: 4;
}

#picto3 {
  top: 500px;
  height: 30%;
  width: 30%;
  left: 350px;
  z-index: 2;
  position: absolute;
  transition: 1.5s ease ;
  border-radius: 20%;
  opacity: 0.9;
}

#culture {
  width: 200px;
  height: 100px;
  left: 550px;
  top: 50px;
  position: absolute;
  z-index: 3;
  transition: 2s all ease;

}

#cadrebas {
  width: 20px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.9;
}

#bouton {
  position: absolute;
  top: 15px;
  left: 0;
}
#menu {
  bottom: 50px;
  right: -100px;
  height: 300px;
  width: 100px;
  background-color: black;
  transition: all 0.5s ease ;
  position: absolute;
  opacity: 0.9 ;
}
#description {
  position: absolute;
  text-align: center;
  color: white;
  font-family:
}
 .video {
   position: absolute;
   top: 0;
   left: 980px;
   z-index: -2;
   opacity: 0.5;

 }
 .video2 {
   position: absolute;
   top: 350px;
   left: 0;
   z-index: -2;
   opacity: 0.5;


 }

 #photo4 {
   position: absolute;
   top: 300px;
   left: 800px;
   transition: all 0.8s ease ;
   width: 300px;
   height: 150px;
   border-radius: 20% ;
   z-index: 4;
   opacity: 0.6;
 }
